<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head" />

<body>

<nav th:replace="fragments/nav" />

<div class="container">
	<div>
		<h2 th:text="#{chat.chat}">Chatear</h2>
		<p>
			<span th:inline="text" th:text="#{chat.chat.user}">Usuario:</span>
			<span th:inline="text" th:text="${theOtherUser.email}"></span>
		</p>
		<p>
			<span th:inline="text" th:text="{chat.chat.offer}">Oferta:</span>
			<span th:inline="text" th:text="${offer.titulo}"></span>
		</p>
	</div>
	
	<div class="table-responsive">

		<table class="table table-hover" th:fragment="tableMessages" id="tableMessages">
			<thead>
				<tr>
					<th class="col-md-1"></th>
					<th class="col-md-1"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="message : ${messagesList}">
					<td th:if="${message.author.email != user.email}"></td>
					<td>
						<p th:text="${message.author.email}"></p>
						<p th:text="${message.date}"></p>
						<p th:text="${message.text}"></p>
					</td>
					<td th:if="${message.author.email == user.email}"></td>
				</tr>
			</tbody>
		</table>

	</div>
	
	<div>
		<form class="navbar-form" action="/message/add">
			<div class="form-group">
				<input name="messageText" type="text" class="form-control" size="100"
					placeholder="Message">
			</div>
			<button type="submit" class="btn btn-default" th:text="#{send}">Enviar</button>
		</form>
	</div>
	
</div>

<footer th:replace="fragments/footer" />

</body>
</html>