<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />
	<div class="container">
	
		<p th:replace="fragments/authenticated"></p>
	
		<h2 th:text="#{offer.myOffer.title}"></h2>
		<p th:text="#{offer.myOffer.subtitle}"></p>
		<div class="table-responsive">
				<table class="table table-hover" th:fragment="myTableOffers"
				id="myTableOffers">
				<thead>
					<tr>
						<th class="col-md-2" th:text="#{offer.mylist.title2}"></th>
						<th th:text="#{offer.mylist.description}"></th>
						<th th:text="#{offer.mylist.price}"></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="offer : ${myOffers}">
						<td th:text="${offer.titulo}"></td>
						<td th:text="${offer.description}"></td>
						<td th:text="${offer.price}"></td>
						<td>
							<a th:if=${!offer.purchased} sec:authorize="hasRole('ROLE_STANDARD')"
							th:href="${'/offer/delete/' + offer.id}" th:text="#{delete}">Eliminar</a>
						</td>
						<td th:if=${offer.purchased} th:text="#{offer.list.sold}">	</td>
					
						<td>
						<div th:if="${offer.highlight == false && offer.getPurchaser() == null}">
							<a type="button"  th:id="highlightBtn" class="btn btn-info"  
							 th:href="${'/offer/destacada/' + offer.id}"  th:text="#{offer.mylist.highlight}" >
								Destacar
							</a>						
 						</div>
						<div  th:if="${offer.highlight!=false && offer.getPurchaser() == null}" >
							<a type="button"
							 class="btn btn-info"   th:id="nohighlightBtn"   th:href="${'/offer/normal/' + offer.id}"
							 th:text="#{offer.mylist.nohighlight}">
							</a>
						</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div th:if="${highlight != null}" id="money-error" class="alert alert-danger" th:text="#{Error.highlight.insuficient}"></div>
		<footer th:replace="fragments/pagination" />
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>
