<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2 th:text="#{user.list.title}">Usuarios</h2>
		<p th:text="#{user.list.subtitle}">Los usuarios que actualmente
			figuran en el sistema son los siguientes:</p>
			
			<button type="button" id="deleteButton" class="btn btn-default" th:text="#{delete}" disabled>Eliminar</button>
			<script>
				$( "#deleteButton" ).click(function() {
					var userIds = getUserIdsFromSelectedCheckboxes();
					var href = '/user/delete?userIds=';
					for (var i = 0; i < userIds.length - 1; i++) {
						href += userIds[i] + ',';
					}
					href += userIds[userIds.length - 1];
					window.location.href = href;
				});
			</script>
			
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th></th>
							<th class="col-md-3" th:text="#{user.list.email}">Email</th>
							<th class="col-md-3" th:text="#{user.list.name}">Nombre</th>
							<th class="col-md-3" th:text="#{user.list.surname}">Apellidos</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user : ${usersList}">
							<td>
								<input th:if="${user.email != 'admin@email.com'}" type="checkbox" name="deleteUsersCheckbox"
								onchange="checkNumberOfSelectedCheckboxes()" th:value="${user.id}"
								th:id="${'deleteUsersCheckbox' + user.id}"></input>
							</td>
							<td th:text="${user.email}"></td>
							<td th:text="${user.name}"></td>
							<td th:text="${user.lastName}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</form>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>